@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'JetBrains Mono', monospace; /*google imported font*/
    font-size: 15px;
    background-color: #0d0d0d;
    }

h1 {
  font-size: 30px;
  color: #FF0000;
  text-align: center;
	margin: 10px;
}

p {
   color: #39FF14;
   font-size: 20px;
   padding-left: 10%;
   padding-right: 10%;
}

nav > a{
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  color: #990099;
  padding:10px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
nav{
	display: flex;
	flex-direction: row;
}

ul {
  color: #39FF14;
  font-size: 20px;
  padding-left: 10%;
}

img {
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 5px;
  width: 10%;
  float: center;
}

.center, figcaption {
	font-family: 'JetBrains Mono', monospace;
	font-size: 17px;
	color: #39FF14;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

/*.icons {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
/*<a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a>*/
/*<a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Dave Gandy - Flaticon</a>*/
/*<a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Kiranshastry - Flaticon</a>*/
