@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'JetBrains Mono', monospace; /*google imported font*/
    font-size: 15px;
    background-color: #1d2020;
    }

h1 {
    font-family:'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #cc241d;
    text-align: center;
}

p {
   /* color: #fbf1c7;*/
   color: #39FF14;
   font-size: 20px;
   padding-left: 10%;
   padding-right: 10%;
}

ul {
  color: #39FF14;
  font-size: 20px;
  padding-left: 10%;
}

img {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px;
  width: 40%;
  float: center;
}

.center, figcaption {
  color: #fbf1c7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
